checks-superstaq~=0.5.66
cirq-superstaq~=0.5.66
magic-state-cultivation @ git+https://git@github.com/Infleqtion/magic-state-cultivation.git@99954d8539c11e57c65a185699164fd2f4905cf0
openfermion>=1.7.1
pygridsynth>=1.2.0
qiskit-superstaq~=0.5.66
tqdm~=4.67
typing_extensions>=4.12
